<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.plugin.logtosd"
        version="0.1.0">

  <name>LogToSd</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/logtosd.js" target="js/logtosd.js"/>

  <js-module src="www/logtosd.js" name="logtosd">
    <clobbers target="logtosd" />
  </js-module>

  <platform name="android">
    
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.READ_LOGS" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LogToSd">
        <param name="android-package" value="com.plugin.logtosd.LogToSd"/>
      </feature>
    </config-file>

    <source-file src="src/android/LogToSd.java" target-dir="src/com/plugin/logtosd/"/>
  </platform>

</plugin>
